.BorderReg {
    background-color: rgb(179 241 255 / 15%);
    border: solid rgba(0, 0, 0, 0.10);
    box-shadow: 3px 4px 12px 3px rgb(0 0 0 / 10%);
    border-radius: 40px;
    height: 430px; 
    width: 600px;
    margin-left:500px;
    margin-top: 60px;
}

.imageReg{
    background-image: url("image/137180.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.Regh1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family:"poor story";
    /* font-size: x-large; */
    font-weight: 600;
}

.formInputGroup {
    position: relative;
    display: flex;
    width: 700px; 
    
}
.formInput {
    display: inline-block;
    margin: 0 16px 0px;
    width: 260px;
    
    font-family:"poor story";
    font-size: large;
    font-weight: 600;
}


.formInput:focus {
    outline: none;
}

.formInput::placeholder {
    text-align: left;
    padding-left: 50px;
}

.formbutReg{
    width:90px;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    margin-left: 230px;
    
    font-family:"poor story";
    font-size: large;
    font-weight: 500;
}

.formbutReg:hover {
    background-color: rgb(226, 226, 226);
}
.formRadioGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.LabelAge {
    margin-left: 62px;
    font-family:"poor story";
    font-size: larger;
    font-weight: 600;
}

.formRangeContainer {
    display: flex;
    align-items: center;
}

.formRangeInput {
    width: 0px;
    margin-right: 10px; 
}

.outputAge {
    font-size: 16px; 
    font-family:"poor story";
    font-size: large;
    font-weight: 500;
}

label{
    margin-left: 62px;
    
}

.labelGender {
    display: flex;
    align-items: center;
    margin-left: 62px;
    
}

.labelGender span {
    margin-right: 10px; 
    font-family:"poor story";
    font-size: larger;
    font-weight: 600;
}

.formRadioGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family:"poor story";
    font-size: larger;
    font-weight: 500;
}

.formInputDate {
    display: inline-block;
    margin: 0 14px 0px;
    width: 352px;
}

.formInputDate:focus {
    outline: none;
}

.formInputDate::placeholder {
    text-align: center;
}

.FontSizeReg{
    margin-left: 190px;
    font-size: 16px;
    font-family:"poor story";
    
    font-weight: 500;
}
.FontColor{
color:blue;
}

.FontColor:visited{
    color:hotpink;
}

.FontColor:hover{
    color:rgb(105, 155, 255);
}
.FontColor:active{
    color:blue;
}

.EyeMarginLeft{
    display: flex;
    position: absolute;
    right: 150px;
    top: 51%; 
    transform: translateY(-50%); 
    opacity: 0.5;
}
.EyeMarginRight{
    display: flex;
    position: absolute;
    right: 440px;
    top: 51%; 
    transform: translateY(-50%); 
    opacity: 0.5;
}

@media (max-width: 1500px) {
    .BorderReg {
        width: 590px;
        margin-left: 100px;
        margin-top: 100px; 
        }

    .Regh1 {
        font-size: 32px;
    }


    .formbutReg {
        margin-left: 240px;
    }
}
